.btn-primary {
    width: 80% !important;
    min-height: 80% !important;
  }
  .btn-danger {
    width: 80% !important;
    min-height: 80% !important;
  }
  .btn-success {
    width: 80% !important;
    min-height: 80% !important;
  }
  .hoursdonet {
    color: green !important;
    //text-align: center;
  }
  .hoursnotdone {
    color: red !important;
    //text-align: center;
  }
  .elapsecontainer {
    text-align: center;
    margin: auto;
    width: 75%;
    border: 3px solid green;
    padding: 10px;
  }
  @media only screen and (max-width: 600px) {
  .elapsecontainer {
    text-align: center;
    margin: auto;
    width: 60%;
    border: 3px solid green;
    padding: 10px;
  }
}
