.btn-primary {
    width: 80% !important;
    min-height: 80% !important;
  }
  .btn-danger {
    width: 80% !important;
    min-height: 80% !important;
  }
  .btn-success {
    width: 80% !important;
    min-height: 80% !important;
  }