.btn-primary {
    width: 80% !important;
    min-height: 80% !important;
  }
  .btn-danger {
    width: 80% !important;
    min-height: 80% !important;
  }
  .btn-success {
    width: 80% !important;
    min-height: 80% !important;
  }
  .hoursdonet {
    color: green;
    //text-align: center;
  }
  .hoursnotdone {
    color: red;
    //text-align: center;
  }
  .elapsecontainer {
    text-align: center;
    margin: auto;
    width: 50%;
    border: 3px solid green;
    padding: 10px;
  }