

/* html {
  box-sizing: border-box;
} */

/* #navbar { 
  transform: translateY(-100%); /* normal, hidden state */
/*} */

/* .nav-container:hover #navbar {
  transform: translateY(0); /* when parent is hovered */
/* } */


